@import "vars";
@import "mixins";
@import "tables";
@import "pods";
@import "nodes";
@import "history";

.mobile-only {
    @include largeScreen {
        display: none;
    }
}

.help-text {
    text-align: center;
    margin-top: 40px;
}

.remote-resource.loading {
    margin-top: 50px;
}
